.mainContainer{
    display: grid;
    padding: 1vw;
    font-family: "Poppins", sans-serif;

    .progressSection{
        display: flex;
        gap:2vw;
        margin-bottom: 1vw;

        .progress{
            display: grid;
            height: 15vw;
            width: 60%;
            gap: 0vw;
            border: 1px solid rgb(221, 219, 219);
            padding:1vw;
            border-radius: 0.2vw;

            h1{
                font-size: 1.4vw;
                color:rgb(10, 51, 96);
                margin-bottom: 0vw;
            }

            p{
                font-size: 1vw;
                color:rgb(134, 133, 133);
                margin: 0;
            }

            .progressPara{
                color:rgb(7, 45, 104);
                font-weight: bold;
                margin: 0;
            }

            .progressBar{
                height: 0.5vw;
                width: 100%;
                background-color: rgb(183, 183, 183);
                border-radius: 0.4vw;
            }

            .progressDetails{
                display: flex;
                align-items: center;
                gap: 0.5vw;

                p{
                    font-size: 1vw;
                    color: rgb(7, 45, 104);
                    font-weight: bold;
                }
            }
        }

        .score{
            display: grid;
            height: 10vw;
            width: 40%;
            border: 1px solid rgb(221, 219, 219);
            padding:1vw;
            border-radius: 0.2vw;
        }
    }

    h1{
        font-size: 1.5vw;
        margin-bottom: 1vw;
        color:rgb(10, 51, 96);
    }

    .modulesSection1{
        display: flex;
        gap:2vw;
        margin-bottom: 1vw;

        .earthquakeModule{
            height: 13vw;
            width: 30%;
            border: 1px solid rgb(221, 219, 219);
            padding:1.5vw;
            border-radius: 0.3vw;

            .moduleHeader{
                display: flex;
                justify-content: space-between;
                align-items: center;

                div{
                    background-color: rgb(230, 247, 255);
                    height: 2vw;
                    width: 2vw;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        margin: 0;
                        font-size: 1vw;
                        color: rgb(7, 45, 104);
                        font-weight: bold;
                    }
                }
            }

            h1{
                margin-top: 0.5vw;
                font-size: 1.2vw;
                color:rgb(10, 51, 96);
                margin-bottom: 0.5vw;
            }

            p{
                font-size: 1vw;
                color:rgb(134, 133, 133);
                margin-bottom: 0.5vw;
                margin-top: 0.5vw;
            }

            .progress{
                margin-top: 0.5vw;
                font-size: 1vw;
                color:rgb(10, 51, 96);
                font-weight: bold;
                margin-bottom: 0.5vw;
            }

            .progressBar{
                height: 0.5vw;
                width: 100%;
                background-color: rgb(183, 183, 183);
                border-radius: 0.4vw;
            }
        }

        .fireLabSafetyModule{
            height: 13vw;
            width: 30%;
            border: 1px solid rgb(221, 219, 219);
            padding:1vw;
            border-radius: 0.3vw;

            .moduleHeader{
                display: flex;
                justify-content: space-between;
                align-items: center;

                div{
                    background-color: rgb(230, 247, 255);
                    height: 2vw;
                    width: 2vw;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        margin: 0;
                        font-size: 1vw;
                        color:rgb(10, 51, 96);
                        font-weight: bold;
                    }
                }
            }

            h1{
                margin-top: 0.5vw;
                font-size: 1.2vw;
                color:rgb(10, 51, 96);
                margin-bottom: 0.5vw;
            }

            p{
                font-size: 1vw;
                color:rgb(134, 133, 133);
                margin-bottom: 0.5vw;
                margin-top: 0.5vw;
            }

            .progress{
                margin-top: 0.5vw;
                font-size: 1vw;
                color:rgb(10, 51, 96);
                font-weight: bold;
                margin-bottom: 0.5vw;
            }

            .progressBar{
                height: 0.5vw;
                width: 100%;
                background-color: rgb(183, 183, 183);
                border-radius: 0.4vw;
            }
        }

        .floodPreparednessModule{
            height: 13vw;
            width: 30%;
            border: 1px solid rgb(221, 219, 219);
            padding:1vw;
            border-radius: 0.3vw;

            .moduleHeader{
                display: flex;
                justify-content: space-between;
                align-items: center;

                div{
                    background-color: rgb(230, 247, 255);
                    height: 2vw;
                    width: 2vw;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        margin: 0;
                        font-size: 1vw;
                        color:rgb(10, 51, 96);
                        font-weight: bold;
                    }
                }
            }

            h1{
                margin-top: 0.5vw;
                font-size: 1.2vw;
                color:rgb(10, 51, 96);
                margin-bottom: 0.5vw;
            }

            p{
                font-size: 1vw;
                color:rgb(134, 133, 133);
                margin-bottom: 0.5vw;
                margin-top: 0.5vw;
            }

            .progress{
                margin-top: 0.5vw;
                font-size: 1vw;
                color:rgb(10, 51, 96);
                font-weight: bold;
                margin-bottom: 0.5vw;
            }

            .progressBar{
                height: 0.5vw;
                width: 100%;
                background-color: rgb(183, 183, 183);
                border-radius: 0.4vw;
            }
        }
    }
}