.mainSection {
    display: grid;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    .homepage {
        display: grid;
        width: 100vw;
        overflow: hidden;
        height: 100vh;

        .navbar {
            display: flex;
            height: full;
            transition: transform 700ms ease-in-out;

            .images {
                position: relative;
                margin: 0;
                height: 100%;
                // width: 100%; 
                object-fit: cover;
                overflow: hidden;


                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom,
                            rgba(0, 0, 0, 1) 0%,
                            rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
                    pointer-events: none;
                }

                img {
                    display: block;
                    height: 100vh;
                    width: 100vw;
                    object-fit: cover;
                }
            }

            div {
                display: flex;
                gap: 2vw;
                margin: 1vw;

                p {
                    position: absolute;
                    overflow: visible;
                    font-weight: bolder;
                    font-size: 1.2vw;
                    font-style: 'poppins', sans-serif;
                    margin: 1vw;
                    color: #F0F4F8;
                    cursor: pointer;
                }
            }

            .heading {
                position: absolute;
                top: 1vw;
                left: 1vw;
                display: flex;
                justify-content: space-between;
                width: 80vw;

                h1 {
                    // display: absolute;
                    font-weight: bolder;
                    font-size: 2vw;
                    font-style: 'poppins', sans-serif;
                    margin: 1vw;
                    color: #F0F4F8;
                    // opacity: 0.3;
                }

                div {
                    display: flex;
                    gap: 3vw;
                    width: 20vw;
                    position: absolute;
                    // left:50vw

                    p {
                        position: relative;
                        left: 55vw;
                        cursor: pointer;
                    }
                }
            }
        }

        .heading {
            position: grid;
            // place-content: center;
            top: 22vw;
            left: 30vw;
            font-size: 2vw;
            color: #F0F4F8;
            text-wrap: wrap;
            line-height: 1.5;
            position: absolute;
        }
    }

    .about {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 100vw;
        margin-top: 2vw;


        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .newsSection {
            display: flex;
            gap: 2vw;
            width: max-content;
            padding: 2vw;
        }

        .news {
            width: 25vw;
            flex-shrink: 0;
            display: grid;
            gap: 1vw;
            border: 1px solid black;
            border-radius: 0.5vw;
            padding-bottom: 2vw;

            animation: slideRight 15s linear infinite;

            div {
                margin: 0;
                padding-left: 1vw;
                padding-right: 1vw;
            }

            .newsImages {
                height: 15vw;
                border-top-left-radius: 0.5vw;
                border-top-right-radius: 0.5vw;
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }

        .newsSection:hover .news {
            animation-play-state: paused;
        }

        @keyframes slideRight {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(100vw);
            }
        }
    }
}